body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*  Container */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 35px;
    font-weight: 700;
    color: #111;
}
.header__subtitle {
    margin-top: 39px;
    font-size: 20px;
    font-weight: 700;
    color: #111;
}
/*About*/

.about {
    margin-top: 30px;
    justify-content: space-between;
}

.about__item {
    width: 380px;
    background-color: #95e1d3;
    
    position: relative;
}
.about__text{
    font-size: 16px;
    font-weight: 700;
    color: #111;
}
.about__link{
    margin-left: 50px;
    font-size: 15px;
    font-weight: 700;
    color: #1C31FF;
}
/* Main */
.main__title {
    margin-top: 39px;
    font-size: 20px;
    font-weight: 700;
    color: #111;
}
.main__toc
{
    margin-left: 14px;
    font-size: 15px;
    font-weight: 700; 
}
/* Last Header */

.main__title{
    margin-top: 39px;
    font-size: 20px;
    font-weight: 700;
    color: #111;
}
.mainsub_toc
{
    margin-left: 14px;
    font-size: 15px;
    font-weight: 700; 
}



















