<main>
    <div class="container-fluid BlogNav">
        <div class="container">
            <div class="btnNavBlog">
                <h2 class="btn--big_button btnBlog">Blog</h2>
            </div>
            <div class="row BlogRow">
                <div class="col-xl-3">
                    <h1 class="btn--big_button btnCategories">Categories</h1>

                    <input id="toggle" type="checkbox">
                    <label for="toggle">Academic</label>
                    <div id="expand" class="expand_item">
                        <section>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta non turpis
                                faucibus
                                lobortis. Curabitur non eros rutrum, gravida felis non, luctus velit. Ut commodo congue
                                velit feugiat lobortis. Etiam nec dolor quis nulla bibendum blandit vitae nec enim.
                                Maecenas
                                id dignissim erat. Aenean ac mi nec ante venenatis interdum quis vel lacus.
                            </p>
                        </section>
                    </div>

                    <input id="toggle_1" type="checkbox">
                    <label for="toggle_1">Informative</label>
                    <div id="expand_1" class="expand_item">
                        <section>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta non turpis
                                faucibus
                                lobortis. Curabitur non eros rutrum, gravida felis non, luctus velit. Ut commodo congue
                                velit feugiat lobortis. Etiam nec dolor quis nulla bibendum blandit vitae nec enim.
                                Maecenas
                                id dignissim erat. Aenean ac mi nec ante venenatis interdum quis vel lacus.
                            </p>
                        </section>
                    </div>

                    <input id="toggle_2" type="checkbox">
                    <label for="toggle_2">Literary</label>
                    <div id="expand_2" class="expand_item">
                        <section>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta non turpis
                                faucibus
                                lobortis. Curabitur non eros rutrum, gravida felis non, luctus velit. Ut commodo congue
                                velit feugiat lobortis. Etiam nec dolor quis nulla bibendum blandit vitae nec enim.
                                Maecenas
                                id dignissim erat. Aenean ac mi nec ante venenatis interdum quis vel lacus.
                            </p>
                        </section>
                    </div>

                    <input id="toggle_3" type="checkbox">
                    <label for="toggle_3">Tips for Students</label>
                    <div id="expand_3" class="expand_item">
                        <section>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas porta non turpis
                                faucibus
                                lobortis. Curabitur non eros rutrum, gravida felis non, luctus velit. Ut commodo congue
                                velit feugiat lobortis. Etiam nec dolor quis nulla bibendum blandit vitae nec enim.
                                Maecenas
                                id dignissim erat. Aenean ac mi nec ante venenatis interdum quis vel lacus.
                            </p>
                        </section>
                    </div>

                </div>
                <div class="col">
                    <h1 class="btn--big_button btnPosts">

                        Last Posts
                        <ul class="OfferYou">
                            <li>
                                <span>dedicated writer who is qualified in your field</span>
                            </li>
                            <li>
                                <span>Your subject matter analyzed, researched, referenced and written
                                    as you instruct</span>
                            </li>
                            <li>
                                <span>Papers tested for plagiarism using top-notch plagiarism software</span>
                            </li>
                            <li>
                                <span>A flawless end product in terms of style and grammar</span>

                            </li>
                        </ul>
                    </h1>
                </div>
                <div class="col">
                    <h1 class="btn--big_button btnRelated">Related Tags</h1>





                    <h1 class="btn--big_button btnRelated btnArchive">Archive</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid BlogAboutBg">

        <div class="container BlogAbout">


            <div class="row">
                <div class="col">
                    <img src="..//img/footer/2.jpg" alt="">

                </div>
                <div class="col-xl-6">
                    <h3>The Biggest and Newest Features Recently
                        Announced by Apple </h3>
                    <span>At Apple’s Worldwide Developers Conference, the company has made a number of announcements
                        involving the changes to hardware and software. Apple has also provided a glimpse at where the
                        future of computing and technologies heads for. So, here is a recap of the most fundamental
                        announcements. New iPhone features...</span>
                    <hr>
                    <h1 class="btn--small_button btnReadMore">Read more</h1>
                </div>
                <div class="col">
                    <h2>June 21,2017</h2>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <h2>June 21,2017</h2>
                </div>
                <div class="col-xl-6">
                    <h3> A Step-by-Step Guide on How to Win an
                        Essay Contest </h3>
                    <span>How to Win an Essay Contest Have you ever considered taking part in an essay contest? Have you
                        ever imagined winning essay contests? The following writing essay tips will help you to forget
                        about all your fears and worries and actually become a winner of an essay contest. 1. Thoroughly
                        Read the Rules of an Essay Cont...</span>
                    <hr>
                    <h1 class="btn--small_button btnReadMore">Read more</h1>
                </div>

                <div class="col">
                    <img src="..//img/footer/3.jpg" alt="">

                </div>
            </div>


            <div class="row">
                <div class="col">
                    <img src="..//img/footer/4.jpg" alt="">

                </div>
                <div class="col-xl-6">
                    <h3>The Biggest and Newest Features Recently
                        Announced by Apple </h3>
                    <span>At Apple’s Worldwide Developers Conference, the company has made a number of announcements
                        involving the changes to hardware and software. Apple has also provided a glimpse at where the
                        future of computing and technologies heads for. So, here is a recap of the most fundamental
                        announcements. New iPhone features...</span>
                    <hr>
                    <h1 class="btn--small_button btnReadMore">Read more</h1>
                </div>
                <div class="col">
                    <h2>June 21,2017</h2>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <h2>June 21,2017</h2>
                </div>
                <div class="col-xl-6">
                    <h3> A Step-by-Step Guide on How to Win an
                        Essay Contest </h3>
                    <span>How to Win an Essay Contest Have you ever considered taking part in an essay contest? Have you
                        ever imagined winning essay contests? The following writing essay tips will help you to forget
                        about all your fears and worries and actually become a winner of an essay contest. 1. Thoroughly
                        Read the Rules of an Essay Cont...</span>
                    <hr>
                    <h1 class="btn--small_button btnReadMore">Read more</h1>
                </div>

                <div class="col">
                    <img src="..//img/footer/1.jpg" alt="">

                </div>
            </div>


            <div class="row">
                <div class="col">
                    <img src="..//img/footer/2.jpg" alt="">

                </div>
                <div class="col-xl-6">
                    <h3>The Biggest and Newest Features Recently
                        Announced by Apple </h3>
                    <span>At Apple’s Worldwide Developers Conference, the company has made a number of announcements
                        involving the changes to hardware and software. Apple has also provided a glimpse at where the
                        future of computing and technologies heads for. So, here is a recap of the most fundamental
                        announcements. New iPhone features...</span>
                    <hr>
                    <h1 class="btn--small_button btnReadMore">Read more</h1>
                </div>
                <div class="col">
                    <h2>June 21,2017</h2>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <h2>June 21,2017</h2>
                </div>
                <div class="col-xl-6">
                    <h3> A Step-by-Step Guide on How to Win an
                        Essay Contest </h3>
                    <span>How to Win an Essay Contest Have you ever considered taking part in an essay contest? Have you
                        ever imagined winning essay contests? The following writing essay tips will help you to forget
                        about all your fears and worries and actually become a winner of an essay contest. 1. Thoroughly
                        Read the Rules of an Essay Cont...</span>
                    <hr>
                    <h1 class="btn--small_button btnReadMore">Read more</h1>
                </div>

                <div class="col">
                    <img src="..//img/footer/3.jpg" alt="">

                </div>
            </div>
        </div>
    </div>
</main>