body {
    margin: 0;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 40px 0;

    border: 0;
    background-color: #e5e5e5;
}  

/* Background Main page*/

#rectangle__top{
    width:100%;
    height:50px;
    background:#2a80b9;
}

#rectangle__navigation{
    width:100%;
    height:110px;
    background:#fff;
}

#rectangle__main{
    width:100%;
    height:470px;
    background:#86c1ea;
    
}

#rectangle__buttom{
    width:100%;
    height:50px;
    background:#2a80b9;
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header {
    width: 100%;
    padding-top: 10px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.NumberContact {
    margin: 0 auto;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    color: #fff;
}

.contact__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    
}

.JoinUs {
    margin: 0 auto;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    
    color: #fff;
    float: right;
}
.join__text {
    display: inline-block;
    vertical-align: top;
    margin: 0 40px;
    
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}
/* Header Navigation*/

.header__navig {
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
.nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    position: relative;

    color: #002157;
    text-decoration: none;

    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;

    background-color: #e84c3d;
    opacity: 0;

    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #e84c3d;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #e84c3d;
}
/* Main */
.main__img{
  
    padding-top: 300px; 

    display: inline-block;
    vertical-align: top;
    position: relative;
}


